body{
  font-family: "Futura";
}
#efectivo{
  width: 500px;
  height: 100px;
  margin-top: 10%;
  background: #121b21;
  color: white;
}
h2,p{
  text-align: center;
}
.su{
  width: 100%;
  height: 200px;
  background: white;
  z-index: 99;
}
