body{
    margin: 0;
}

video{
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: -1;
}

.Madre{
  background: red;
  width: 12%;
  padding: 0.5%;
}

.Ubicacion{
  background: #121b21;
  color: white;
  font-family: 'Futura', sans-serif;
}

.hc{
  margin-left: 47%;
  margin-top: -10.8%;
}

.hd{
  margin-left: 59%;
  margin-top: -10.6%;
}

.SaldoActual{
  width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

.SaldoActual h1{
  text-align: center;
  color: white;
  font-family: 'Futura', sans-serif;
}

.ModalSaldo, .ModalAgregarCuenta, .ModalAgregarTarjeta, .ModalAgregarMotivo{
  position: fixed;
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
  visibility: hidden;
}

 .NombreMotivo{
   width: 100%;
   height: 30px;
   border-style: none;
   font-family: 'Futura', sans-serif;
   padding: 1.5%;
 }

.SaldoActual{
  width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

.SaldoActual h1{
  text-align: center;
  color: white;
  font-family: 'Futura', sans-serif;
  font-size: 2.5em;
}

.SaldoActual1{
  width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

.SaldoActual1 h1{
  text-align: center;
  color: white;
  font-family: 'Futura', sans-serif;
  font-size: 2.5em;
}

.SaldoActual2{
  position: absolute;
  background: #121b21;
  padding: 1%;
  border: solid #FFF 10px;
  width: 300px;
  margin: 10px auto;
  margin-left: 37%;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

.SaldoActual2 h1{
  text-align: center;
  color: black;
  font-family: 'Futura', sans-serif;
  font-size: 2.5em;
}

.SaldoActual3{
  position: absolute;
  background: #00695C;
  padding: 1%;
  border: solid #FFF 10px;
  width: 500px;
  height: 525px;
  top: 40%;
  left: 40%;
  margin-top: -200px;
  margin-left: -115px;
}

.SaldoActual3 h1{
  text-align: center;
  color: white;
  font-family: 'Futura', sans-serif;
  font-size: 2.5em;
}

.Cerrar{
  background: #C62828;
  padding: 1%;
  width: 12.5%;
  margin-top: 62%;
  margin-left: 88%;
}

.Cerrar1{
  background: #C62828;
  padding: 1%;
  width: 12.5%;
  margin-top: 4.5%;
  margin-left: 88%;
}

.Cerrar1 a{
  color: white;
  font-family: 'Futura', sans-serif;
}

.Cerrar a{
  color: white;
  font-family: 'Futura', sans-serif;
}

.CerrarM{
  background: #C62828;
  padding: 1%;
  width: 7.3%;
  margin-left: 93.5%;
  margin-top: 34%;
}

.CerrarM a{
  color: white;
  font-family: 'Futura', sans-serif;
}

.h3{
  font-size: 1.8em;
  color: white;
  font-family: 'Futura', sans-serif;
  text-align: center;
}

.Titulo{
  text-align: center;
  color: white;
  font-size: 2.5em;
  font-family: 'Futura', sans-serif;
}

.Articulo{
  margin-top: 0;
  padding: 2%;
  height: 600px;
}

.Articulo h1{
  text-align: center;
  color: white;
  font-size: 2em;
  font-family: 'Futura', sans-serif;
}

.Cuentas{
  background: #212121;
  padding: 2%;
  width: 40%;
  margin-top: 5%;
  margin-left: 10%;
  color: white;
  font-family: 'Futura', sans-serif;
}

.BotonAgregar{
  width: 7%;
  margin-top: 16.5%;
  margin-left: 89.5%;
  position: fixed;
}

.BotonAgregar1{
  width: 7%;
  margin-top: 12.2%;
  margin-left: 89.5%;
  position: fixed;
}

.BotonAgregar2{
  width: 7%;
  margin-top: 14.5%;
  margin-left: 89.5%;
  position: fixed;
}

.AgregarGa{
  width: 37%;
  margin-left: 30%;
  margin-top: 5%;
}

.AG{
  text-align: center;
  color: white;
  font-family: 'Futura', sans-serif;
  font-size: 1.2em;

}

.AgregarGasto{
  background: #212121;
  margin-top: 2%;
  margin-bottom: 5%;
  width: 20%;
  margin-left: 40%;
  padding: 1%;
}


.AgregarMotivo{
  background: #121b21;
  margin-left: 25.5%;
  margin-top: -15.7%;
  padding: 1%;
  width: 20%;
  color: white;
  font-family: 'Futura', sans-serif;
}

.AgregarMotivo p{
  text-align: center;
  font-size: 1.2em;
}

.Motivo{
  font-size: 1.1em;
}

.BotonAgregarMotivo{
  width: 33%;
  margin-top: 2%;
  margin-left: 32%;
}

.inputTarjeta{
  width: 100%;
  height: 30px;
  border-style: none;
  font-family: 'Futura', sans-serif;
  padding: 1.5%;
}

.Opciones{
  width: 100%;
  height: 30px;
  border-style: none;
  font-family: 'Futura', sans-serif;
  padding: 1.5%;
}

.inputTarjeta1{
  width: 100%;
  height: 80px;
  border-style: none;
  font-family: 'Futura', sans-serif;
  padding: 1.5%;
}

.AgregarTarjeta{
  width: 50%;
  height: 30px;
  margin-left: 25%;
  border-style: none;
  font-family: 'Futura', sans-serif;
  background: #4CAF50;
  color: white;
  padding: 1.5%;
  text-align: center;
  margin-top: 5%;
}

.Gastos{
  background: #212121;
  margin-left: 25.5%;
  margin-top: 5%;
  padding: 2%;
  width: 50%;
  color: white;
  font-family: 'Futura', sans-serif;
}

#Margen{
  background: #263238;
  margin-top: -9.5%;
  margin-bottom: 1%;
  position: relative;
  width: 108.6%;
  margin-left: -4.3%;
  color: #263238;
  height: 10px;
}

.Elegir{
  background: #212121;
  width: 21%;
  padding: 1%;
  margin-top: 1%;
  color: white;
  text-align: center;
  font-family: 'Futura', sans-serif;
}

.Elegir a{
  color: white;
}

.Elegir:hover{
  margin-left: 1%;
  transition-duration: 0.4s;
}

.ArticuloEstadisticas{
  height: 500px;

  margin-top: 0;
  padding: 2%;
  height: 600px;
}

.ModalMensuales{
  background: #424242;
  padding: 2%;
  width: 70%;
  height: 400px;
  margin-left: 27%;
  margin-top: -12%;
  visibility: hidden;
}

.ModalAnuales{
  background: #424242;
  padding: 2%;
  width: 70%;
  height: 400px;
  margin-left: 27%;
  margin-top: -30.9%;
  visibility: hidden;
}

.ModalPeriodo{
  background: #121b21;
  padding: 2%;
  width: 70%;
  height: 400px;
  margin-left: 27%;
  margin-top: -30.9%;
  visibility: hidden;
}

.PagoDefecto{
  color: white;
  background: #121b21;
  margin-top: 5%;
  margin-left: 5%;
  padding: 2%;
  font-family: 'Futura', sans-serif;
  width: 20%;
}

.Selec{
  font-size: 1.1em;
  text-align: center;
}

.AceptarPago{
  background: #121b21;
  border-style: none;
  width: 35%;
  height: 30px;
  color: white;
  font-family: 'Futura', sans-serif;
  margin-left: 32%;
  margin-top: 1%;
}

.DatosPersonales{
  color: white;
  background: #121b21;
  margin-top: -13.5%;
  padding: 2%;
  font-family: 'Futura', sans-serif;
  width: 60%;
  margin-left: 33%;
}

@media (max-width:1024px) {
  .Cuentas{
    width: 90%;
    margin-left: 5%;

    height: 400px;
    font-size: 30px;

  }
  .Articulo h1{
    font-size: 50px;
  }
  .BotonAgregar2{
    margin-left: 45%;
    width: 14%;
  }
  .Gastos{
    width: 90%;
    margin-left: 5%;
    font-size: 30px;
        margin-top: 20%;
  }
  .AgregarMotivo{
    font-size: 25px;
    width: 40%;
    margin-left: 30%;
  }
  .BotonAgregarGastos{
    margin-left: -25%;
    margin-top: 60%;
    width: 12%;
  }
  .ModalMensuales{

  margin-top: 15%;

}

.ModalAnuales{

  margin-top: -10.9%;
  visibility: hidden;
}

.ModalPeriodo{

  margin-top: -10.9%;

}
.Elegir{
  width: 90%;
  font-size: 30px;

}

}
