div.table-title {
    font-family: century gothic;
    display: block;
    margin-top: -14%;
    margin-left: 40%;
    max-width: 600px;
    padding: 5px;
    width: 100%;
}

.table-fill {
    background: black;
    border-radius: 30px;
    border-collapse: collapse;
    height: 150px;
    margin-top: 40%;
    margin-left: -30%;
    max-width: 600px;
    padding: 5px;
    width: 100%;
    animation: float 5s infinite;
}

th {
    color: white;
    background: black;
    text-align: center;
    border-right: 1px solid #343a45;
    font-size: 18px;
    font-weight: 100;
    padding: 22px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
  }

th:first-child {
    border-top-left-radius: 3px;
  }

th:last-child {
    border-top-right-radius: 3px;
    border-right:none;
}

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    color: black;
    font-size: 20px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  }

/*---------------Efecto Back pulse---------------*/

  @-webkit-keyframes hvr-back-pulse {
      50% {
          background-color: rgba(32, 152, 209, 0.75);
      }
  }
  @keyframes hvr-back-pulse {
      50% {
          background-color: rgba(32, 152, 209, 0.75);
      }
  }

#hvr-back-pulse {
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px transparent;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-property: color, background-color;
      transition-property: color, background-color;
  }

#hvr-back-pulse:hover, #hvr-back-pulse:focus, #hvr-back-pulse:active{
      -webkit-animation-name: hvr-back-pulse;
      animation-name: hvr-back-pulse;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      background-color: #2098D1;
      background-color: #2098d1;
      color: white;
      cursor: pointer;
  }

  tr:first-child {
      border-top:none;
  }

  tr:last-child {
      border-bottom:none;
  }

  tr:nth-child(odd) td {
      background: #E4E4E4;
  }

  tr:last-child td:first-child {
      border-bottom-left-radius:3px;
  }

  tr:last-child td:last-child {
      border-bottom-right-radius:3px;
  }

  td {
      background:#FFFFFF;
      padding: 20px;
      text-align: center;
      vertical-align:middle;
      font-weight:300;
      font-size:18px;
      text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
      border-right: 1px solid #C1C3D1;
  }

  td:last-child {
      border-right: 0px;
  }

  th.text-left {
      text-align: center;
  }

  th.text-center {
      text-align: center;
  }

  th.text-right {
      text-align: center;
  }

  td.text-left {
      text-align: center;
  }

  td.text-center {
      text-align: center;
  }

  td.text-right {
      text-align: center;
  }


div.ver{
    margin-top: 25px;
    padding: 5px;
    margin-left: 390px;
    cursor: pointer;
    width: 40%;
    height: 5%;
    border-radius: 15px;
    font-family: century gothic;
    text-align: center;
}

div.ver {
    background-color: #53AA51;
}

div.ver:hover {
    background-color: #65BA63;
    transition: 0.8s;
}

input{
    text-align: center;
    margin-left: 35px; 
    margin-top: 10px; 
    width: 250px;
    height: 25px;
}

.bb{
    text-align: center;
    margin-bottom: 5px;
    margin: 8px;
    float: right;
    width: 150px;
    height: 30px;
}

