@font-face {
  font-family: "Futura";
  src: url("fonts/FuturaPTBold.otf");
}
*{
  margin: auto;
  padding: auto;
  box-sizing: border-box;
}
header{
  width: 100%;
}

a{
  text-decoration: none;
}

header nav{
  background: #121b21;
  z-index: 1000;
  max-width: 10000px;
  width: 100%;
  margin: auto;
  margin-top: 0;
  font-family: "Futura";
  box-shadow: 1px 1px 2px gray;
}

header nav ul{
  list-style: none;
}

header nav ul li{
  display: inline-block;
  position: relative;
  background-color: #121b21;
}

header nav ul li a{
  color: #c4cbcf;
  display: block;
  text-decoration: none;
  padding: 20px;
}
header nav ul li a:hover{
  color: white;
}
header nav ul li a span{
  margin-right: 10px;
}

header nav ul li:hover .sub{
  display: block;
}

header nav ul li .sub{
  display: none;
  position: absolute;
  width: 150%;
  z-index: 1000;
}

header nav ul li .sub li{
  display: block;
  overflow: hidden;
  border-bottom: 1px solid rgba(255,255,255,.5);
}

header nav ul li .header nav ul li .sub li{
  display: block;
}

header nav ul li .sub li a span{
  float: right;
  position: relative;
  top: 3px;
  margin-right: 0px;
  margin-left: 10px;
}

header nav ul li .caret{
  position: relative;
  top: 3px;
  margin-left: 10px;
  margin-right: 0px;
}
