.titulo1 {
  text-align: center;
  font-family: century gothic;
  font-weight: normal;
  font-size: 165%;
  margin-top: 2.5%;
}

.titulo2 {
  text-align: center;
  font-family: century gothic;
  font-weight: normal;
  font-size: 150%;
  margin-top: 0.5%;
}

.titulo3 {
  margin-top: -3%;
  margin-left: 125px;
  font-size: 160%;
}

#carrusel {
  width: 1080px;
  overflow: hidden;
  height: 270px;
  position: relative;
  margin-top: 15px;
  margin-left: 125px;
}

.izquierda_flecha {
  position: absolute;
  left: 70px;
  z-index: 1;
  top: 53%;
  margin-top: -5px;
}

.derecha_flecha {
  position: absolute;
  right: 80px;
  z-index: 1;
  top: 53%;
  margin-top: -9px;
}

.carrusel {
  width: 4000px;
  left: 0px;
  position: absolute;
  z-index: 0
}

.carrusel>div {
  float: left;
  height: 210px;
  margin-right: 0px;
  width: 270px;
  text-align:center;
}

.carrusel .img_carrusel {
  cursor: pointer;
}

#carrusel2 {
  width: 1080px;
  overflow: hidden;
  height: 270px;
  position: relative;
  margin-top: 15px;
  margin-left: 125px;
}

#flecha2 .izquierda_flecha2 {
  position: absolute;
  left: 70px;
  z-index: 1;
  top: 98.5%;
  margin-top: -5px;
}

#flecha2 .derecha_flecha2 {
  position: absolute;
  right: 80px;
  z-index: 1;
  top: 98.5%;
  margin-top: -9px;
}

.carrusel2 {
  width: 4000px;
  left: 0px;
  position: absolute;
  z-index: 0
}

.carrusel2>div {
  float: left;
  height: 210px;
  margin-right: 0px;
  width: 270px;
  text-align:center;
}

.carrusel2 .img_carrusel {
  cursor: pointer;
}

#carrusel3 {
  width: 1080px;
  overflow: hidden;
  height: 270px;
  position: relative;
  margin-top: 15px;
  margin-left: 125px;
}

#flecha3 .izquierda_flecha3 {
  position: absolute;
  left: 70px;
  z-index: 1;
  top: 142%;
  margin-top: -5px;
}

#flecha3 .derecha_flecha3 {
  position: absolute;
  right: 80px;
  z-index: 1;
  top: 142%;
  margin-top: -9px;
}

.carrusel3 {
  width: 4000px;
  left: 0px;
  position: absolute;
  z-index: 0
}

.carrusel3>div {
    float: left;
    height: 210px;
    margin-right: 0px;
    width: 270px;
    text-align:center;
}

.carrusel3 .img_carrusel {
    cursor: pointer;
}

#content {
    float:left;
    width:600px;
    margin-bottom:40px;
    margin:0px auto;
}

div.modal {
    display: none;
    position: fixed;
    margin-bottom: 10%;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

div.contenedor-modal {
    position: fixed;
    bottom: 25%;
    background-color: #fefefe;
    width: 50%;
	  height: auto;
    margin-left: 25%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

span.cerrar-modal {
    color: white;
    float: right;
    font-size: 35px;
    font-weight: bold;
	  margin-top: -10px;
}

span.cerrar-modal:hover, span.cerrar-modal:focus {
    color: black;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; 
    cursor: pointer;
}

.titulom {
  padding-left: 5px;
  font-family: century gothic;
  font-size: 22px;
}

.mtex {
  font-family: century gothic;
  font-size: 100%;
  line-height: 150%;
  padding-left: 25px;
}

.stex {
  cursor: pointer;
  font-family: century gothic;
  float: right;
  font-size: 115%;
  line-height: 275%;
  padding-right: 10px;
}

div.cabecera-modal {
    padding: 2% 16px;
    background-color: rgb(34,167,240);
    color: white;
}

div.cabecera-modal-m {
    padding: 2% 16px;
    background-color: rgb(113,104,218);
    color: white;
}

div.cabecera-modal-dr {
    padding: 2% 16px;
    background-color: rgb(75,95,131);
    color: white;
}

div.cuerpo-modal {
	  padding: 1%;
}

form.form-opcion > p {
    color: #000;
}

.login-button {
    margin-top: 66%;
    float: right;
    margin-right: 10.5%;
    width: 20%;
    height: 50px;
    padding: 0;
    font-size: 22px;
    color: #fff;
    text-align: center;
    background: #f0776c;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    outline: 0;
}

/*----------Animación----------*/

@-webkit-keyframes slideIn{
    from {bottom: -300px; opacity: 0}
    to {bottom: 25%; opacity: 1}
}
@keyframes slideIn{
    from {bottom: -300px; opacity: 0}
    to {bottom: 25%; opacity: 1}
}
@-webkit-keyframes fadeIn{
    from {opacity: 0}
    to {opacity: 1}
}
@keyframes fadeIn{
    from {opacity: 0}
    to {opacity: 1}
}
